body {
    background-color: rgb(177, 190, 194);
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: floralwhite;
    color: rgb(114, 59, 59);
    font-family: Arial;
}  

footer {
    background-color: rgb(255, 180, 113);
    color: saddlebrown;
    font-family: Arial;
} 

main {
    background-color: rgb(255, 206, 166);
    color: saddlebrown;
    font-family: Arial;
    text-indent: 25px; /* Отступ первой строки в пикселах*/
} 

a {
    color: green;
    text-decoration: none;
}

a:link {
    color: brown;

}

a:visited {
    color:aliceblue;
}

a:hover {
    color: red;
    text-decoration: underline;
    text-shadow: 6px 4px 3px rgba(1, 7, 12, 0.685)
}

a:active {
    color: black;
    opacity: 0.3;
}